* {
	outline: none !important;
}

body {
	margin: 0;
	padding: 0;
	font-family: Lucida Sans, Lucida Grande, Arial !important;
	font-size: 13px !important;
	background: white;
	color: #333;
	overflow: hidden;
}

body.claro {
	font-family: "Lucida Sans", "Lucida Grande", Arial !important;
}

.claro .dijitButtonText,label,.dojoxGridCell {
	font-size: 11px !important;
}

#appLayout {
	height: 100%;
}

#leftCol {
	width: 14em;
}

#rightCol {
	width: 25em;
}

#submitEntryContainer {
	
}

#submitEntryButton {
	width: 100px;
	min-width: 100px;
}

.dijitTextBox {
	width: 100% !important;
}

.dojoxGrid table {
	margin: 0;
}

.claro .dojoxGridCell {
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;
}

.column-header {
  width : 100%;
  text-align : center;
  font-weight : bold;
  font-size : 14px;
  background-color : #EEEEEE;
  padding: 5px 0;
}

#rightColHeader {

}

.user-online {
	font-weight: bold;
}

.user-offline {
	
}

.infoText {
	color: #888888;
}
.dummyText {
  color: #888888;
}

.entry-headline {
	font-weight : bold;
	font-size : 14;
	margin-bottom : 5px;
	background-color: #EEEEEE;
}

.entry-author, .entry-categories, .entry-date, .entry-reply, .entry-event {
  color: #666666;
}

.entry-reply a, .entry-reply a:visited {
	color : #7BB6EA;
}

.entry-author, .entry-event {
	font-weight : bold;
}

.entry-text {
	
}

.entry-toolbar {
  text-align : right;	
}


#focusBox {
	position : absolute;
	display : none;
  border: 1px solid black;
  z-index: 2147483647;
}
	