* {
	outline: none !important;
}

body {
	margin: 0;
	padding: 0;
	font-family: Lucida Sans, Lucida Grande, Arial !important;
	font-size: 13px !important;
	background: white;
	color: #333;
	overflow: hidden;
}

body.claro {
	font-family: "Lucida Sans", "Lucida Grande", Arial !important;
}

.claro .dijitButtonText,label,.dojoxGridCell {
	font-size: 11px !important;
}

#appLayout {
	height: 100%;
}

#appTitle {
	font-size:16px;
	font-weight:bold;
}

#titleBar{
	background-color: #d4eaff;
  background-image: url(img/bar-top.png);
  background-repeat: no-repeat;
}

#footer{
  background-color: #f6fafd;
  background-image: url(img/bar-bottom.png);
  background-repeat: no-repeat;
  padding: 15px;
}

#leftCol {
	width: 14em;
}

#rightCol {
	width: 25em;
}

#submitEntryContainer {
	
}

#submitEntryButton {
	width: 100px;
	min-width: 100px;
}

.dijitTextBox {
	width: 100% !important;
}

.dojoxGrid table {
	margin: 0;
}

.claro .dojoxGridCell {
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;
}

.column-header {
  width : 100%;
  text-align : center;
  font-weight : bold;
  font-size : 14px;
  background-color : #EEEEEE;
  padding: 5px 0;
}

#rightColHeader {

}

.user-online {
	font-weight: bold;
}

.user-offline {
	
}

.infoText, .infoTextSmall {
	color: #888888;
}

.infoTextSmall {
  font-size: 10px !important;
}

.dummyText {
  color: #888888;
}

.entry-headline {
	font-weight : bold;
	font-size : 14px;
	margin-bottom : 5px;
	margin-top: 5px;
	background-color: #EEEEEE;
	padding: 2px;
}

.entry-new {
  background-color: #d4eaff !important;
}

.entry-author, 
.entry-categories, 
.entry-date, 
.entry-reply, 
.entry-event,
.entry-access,
.entry-private 
{
  color: #666666;
  font-size: 10px;
}

.entry-reply a, .entry-reply a:visited {
	color : #7BB6EA;
}

.entry-author, .entry-event, .entry-private {
	font-weight : bold;
}

.entry-private {
  color : #3e5da4;	
}

.entry-text {
	
}

.entry-toolbar {
  text-align : right;	
}

div.entry-toolbar img:hover,
table.entry-attachement-list img:hover{
  cursor: pointer; cursor: hand;
}

#access-readonly-explanation{
  display: none;
  max-width: 100px !important;
  width: 100px !important;	
}
#focusBox {
	position : absolute;
	display : none;
  border: 1px solid black;
  z-index: 2147483647;
}

.dojoxFileInput {}

.dojoxUploaderFileList{}

.dojoxUploaderFileListProgress {}

.dojoxUploaderIndex
{
	width: 20px;
}
.dojoxUploaderIcon
{
	width: 50px;
}
.dojoxUploaderFileName
{
  width: 100px;
}

.dojoxUploaderSize
{
  width: 50px;
}

table.dojoxUploaderFileListTable{
  margin-bottom: 20px;	
}

table.dojoxUploaderFileListTable,
table.dojoxUploaderFileListContent,
#attachment_filelist
{
	width: 100%;
	border-spacing: 0px;
}

td.dojoxUploaderFileListContainer {
	padding : 0px;
}

table.dojoxUploaderFileListTable th
{ 
	font-size: 10px !important;
	font-weight: bold !important;
	border-bottom: 1px solid;
	text-align: left;
}

table.dojoxUploaderFileListTable td, 
#attachment_filelist td,
table.entry-attachment td,
table.filter-summary td
{
  font-size: 10px !important;
  font-weight: normal !important;
  vertical-align: top;
  text-align: left;
}
	
#attachment_uploader_error
{
	color:red;
}

#attachment_uploader {
  width: 250px;	
}

#attachment_uploader_sendbutton {
  
}

table.entry-attachment
{
  width: 100%;
}

.entryLinkContainer, 
.entry-attachment-container{
  font-size: 10px;
  height: 0px;
  overflow: hidden;  
}

#dojoxLightboxDialog {
  min-width: 200px;
  min-height: 100px;	
}

#leftCol, #rightCol{
  overflow: auto;
}